<div th:fragment="profile-posts-block" xmlns:th="https://www.thymeleaf.org">
    <div class="profile-posts-block">

        <h1>Мои Объявления</h1>
        <h2 id="amountOfSales"></h2>
        <p>Принесли продажи на НЕАвито</p>
        <li class="dropdown-divider"></li>
        <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="active-ads-tab" data-toggle="pill" href="#active-ads" role="tab"
                   aria-controls="active-ads" aria-selected="true">Активные</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="archive-ads-tab" data-toggle="pill" href="#archive-ads" role="tab"
                   aria-controls="archive-ads" aria-selected="false">Архив</a>
            </li>
        </ul>
        <li class="dropdown-divider"></li>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="active-ads" role="tabpanel"
                 aria-labelledby="active-ads-tab">
                <table class="table table-borderless" id="userPo">
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="archive-ads" role="tabpanel" aria-labelledby="archive-ads-tab">
                <table class="table table-borderless" id="userPoArch">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!---------------------------------------->

<div th:fragment="profile-notifications-block" xmlns:th="https://www.thymeleaf.org">
    <div class="profile-notifications-block">
        <h1>Мои уведомления</h1>
        <li class="dropdown-divider"></li>
        <ul class="nav nav-pills mb-2" id="pills-tabNote" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="new-notes-tab" data-toggle="pill" href="#new-notes" role="tab"
                   aria-controls="new-notes-tab" aria-selected="true"  th:with="varNew=${countMap[1]}" th:text="${'Новые - ' + varNew}">Новые</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="read-notes-tab" data-toggle="pill" href="#read-notes" role="tab"
                   aria-controls="read-notes-tab" aria-selected="false" th:with="varRead=${countMap[2]}" th:text="${'Прочитанные - ' + varRead}" >Прочитанные</a>
            </li>
        </ul>
        <li class="dropdown-divider"></li>
        <div class="tab-content" id="pills-tabNoteContent">
            <div class="tab-pane fade show active" id="new-notes" role="tabpanel" aria-labelledby="new-notes-tab">
                <table class="table table-borderless" id="userNotes">
                    <tbody id="tbody_new">
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="read-notes" role="tabpanel" aria-labelledby="read-notes-tab">
                <table class="table table-borderless" id="userNotesArch">
                    <tbody id="tbody_read">
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
