<div th:fragment="profile-body" xmlns:th="https://www.thymeleaf.org">
    <div class="profile-body">
        <li class="dropdown-divider"></li>
        <div class="row">
            <div class="col-md-3">
                <div th:if="${user.getAvatar()}">
                    <img class="user-profile-avatar" id="avatar" th:src="${user.getAvatar().getPathURL()}"><br>
                    <div class="user-profile-name" id="name" th:text="${user.getFirstName() + ' ' + user.getLastName()}">
                        %username%
                    </div>
                </div>
                <div th:if="${user.getAvatar() == null}">
                    <div class="user-profile-avatar" id="avatar"></div>
                    <br>
                    <div class="user-profile-name" id="name" th:text="${user.getFirstName() + ' ' + user.getLastName()}">
                        %username%
                    </div>
                </div>

                <a href="#">
                    <span style="color: black"><strong>3,0</strong></span>
                    <div class="rating-mini-profile">
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                        <span></span>
                        <span></span>
                    </div>
                    <span>Нет отзывов</span>
                </a>
                <li class="dropdown-divider"></li>
                <div class="profile-menu-font">
                    <a th:text="#{myAds}" href="/ads">Мои объявления</a><br>
                    <a th:text="#{myOrders}" href="#">Заказы</a><br>
                    <a th:text="#{MyReviews}" href="#">Мои отзывы</a><br>
                    <strong a th:text="#{Favourites}" href="/favorite">Избранное</a></strong><br>
                    <li class="dropdown-divider"></li>
                    <a th:text="#{messages}" href="/messenger">Сообщения</a><br>
                    <a th:text="#{Notifications}" href="/notifications" id="noteCallLeft">Уведомления</a><br>
                    <li class="dropdown-divider"></li>
                    <a th:text="#{Wallet}" href="#">Кошелек</a><br>
                    <a th:text="#{PaidService}" href="#">Платные услуги</a><br>
                    <li class="dropdown-divider"></li>
                    <a th:text="#{settings}" href="#">Настройки</a><br>
                </div>
            </div>

            <div class="col-md-9">

                <div class="container">
                    <div class="wrap">
                        <div class="inner-wrap" id="render">
                            <h1 class="h1">Избранное</h1>
                            <ul class="ul">
                                <li><h5>Объявления</h5></li>
                                <li><a href="#">Поиски</a></li>
                                <li><a href="#">Продавцы</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>