.hidden {
    display: none;
}

.error-field {
    border: 1px solid red;
}

.error-text {
    color: red;
}

.showed {
    visibility: visible;
}

.addPhoto {
    background: url("images/");
    display: inline-block;
    line-height: 30px;
    padding-left: 30px;
}