.description-label {
    /*color: red;*/
    font-size: 16px;
}

.fieldset-label-icon {
    color: gray;
    font-size: 14px;
}

.videoUrl{
    width: 100%;
}

.info-text-small{
    font-size: 12px;
    color: gray;
}

.description-label {
    margin-top: 10px;
    color: darkblue;
}











