<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Favorite</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/header-fragment-style.css" th:href="@{/css/header-fragment-style.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/fragment-navigate-panel-style.css" th:href="@{/css/fragment-navigate-panel-style.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/auth-style.css" th:href="@{/css/auth-style.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/favorite.css" th:href="@{/css/favorite.css}"/>

    <!-- script -->
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<!--header-->
<header th:insert="fragments/header::main-header"></header>
<div th:insert="fragments/authorization-button::authorization-button"></div>

<div class="container">
    <div class="wrap">
        <div th:insert="fragments/navigate-panel::navigate-header"></div>
        <div class="inner-wrap" id="render">
            <h1 class="h1">Избранное</h1>
            <ul class="ul">
                <li><h5>Объявления</h5></li>
                <li><a href="#">Поиски</a></li>
                <li><a href="#">Продавцы</a></li>
            </ul>
            <button class="delete">Удалить</button>
        </div>
    </div>
</div>

<script src="../static/js/favorite_page.js" th:src="@{/js/favorite_page.js}"></script>
<script src="../static/js/header.js" th:src="@{/js/header.js}"></script>
</body>
</html>