<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add new post</title>
    <link rel="stylesheet" type="text/css" href="../static/css/add-new-post-style.css" th:href="@{/css/add-new-post-style.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main_page.css" th:href="@{/css/main_page.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/header-fragment-style.css" th:href="@{/css/header-fragment-style.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/auth-style.css" th:href="@{/css/auth-style.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/user-info-menu.css" th:href="@{/css/user-info-menu.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main_page_posting.css" th:href="@{/css/main_page_posting.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/recovery-pswd.css" th:href="@{/css/recovery-pswd.css}"/>

    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<header th:insert="fragments/header::main-header"></header>
<div class="main-container">
    <div class="head-container">
        <a><img class="main-logo" th:src="@{images/logo.jpg}"></a>
        <div class="text-in-logo-header">Новое объявление</div>
    </div>
    <div class="row category-head-container">
        <div class="col-2 category-head-text">Категория</div>
        <div id="pathCategory" class="col-10" style="display: none">
            <button id="pathCategoryButton" type="button" class="btn btn-link">
                <h4>Изменить категорию</h4>
            </button>
        </div>
    </div>
    <div id="visibleElement1" style="display: block">
        <div class="cascade-table-container" id="cascadeTableContainer">
            <div class="cascade-table-column" id="cascadeTableColumn1">
                <div class="category-table-title">Категория</div>
            </div>
        </div>
    </div>
</div>

<div id="visibleElement2" style="display: block">
</div>

<div id="visibleElement3" style="display: none">

    <div id="dealAddress" class="main-container">
        <div class="category-head-container">
            <div class="category-head-text">Место сделки</div>
        </div>
        <div>
            <p>
                <input name="dealAddress" placeholder="Начните вводить адрес, а потом выберите из списка" maxlength="150"
                       autocomplete="none" type="text" class="form-control" value="">
            </p>
            <p class="text-muted" data-toggle="tooltip" data-placement="top" title="Зачем указывать точный адрес.
            Объявление смогут найти покупатели, которые ищут товары в конкретном радиусе или районе.
            Точный адрес не помешает вашему предложению появиться в результатах поиска по городу,
            региону или всей России.">
                Точный адрес поможет привлечь заинтересованных покупателей</p>
            <p>
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A13572270efb0e5508014203403b34bb745cc2fa6e27ff4f6d1946754f8a441d0&amp;width=714&amp;height=342&amp;lang=ru_RU&amp;scroll=true"></script>
            </p>
        </div>
    </div>

    <div id="contacts" class="main-container">
        <div class="category-head-container">
            <div class="category-head-text">Контакты</div>
        </div>
        <div>
            <form id="contactsForm">
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Электронная почта</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPhone" class="col-sm-2 col-form-label">Телефон</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="inputPhone" placeholder="8 ___ ___-__-__" inputmode="tel" autocomplete="off" data-marker="phone/input" value im-insert="true">
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Способ связи</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="phoneAndMessages" checked>
                                <label class="form-check-label" for="gridRadios1">По телефону и в сообщениях</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="phone">
                                <label class="form-check-label" for="gridRadios2">По телефону</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="messages">
                                <label class="form-check-label" for="gridRadios3">В сообщениях</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div id="saveEndExit" class="main-container">
        <div class="row category-head-container">
            <div class="col-4">
                <a class="btn btn-secondary btn-block" href="/new_post" role="button">Отмена</a>
            </div>
            <div class="col-8">
                <button id="saveButton" type="button" class="btn btn-primary btn-block">Сохранить</button>
            </div>
        </div>
    </div>

</div>

<!--<script src="../static/js/newpost.js" th:src="@{/js/newpost.js}"></script>-->
<script src="../static/js/newpost.js" th:src="@{/js/newpost.js}"></script>
</body>
</html>