<div th:fragment="car-post-content" xmlns:th="https://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="main-container">

        <div class="category-table-title">
            <!--                -->
            <!--            <form id="used-car-posting-form" class="creating-used-car-posting" action="#"-->
            <!--                  th:action="@{/save-used-car-posting}" th:object="${carPostObject}"-->
            <!--                  method="POST">-->

            <div>
                <label class="category-head-text" for="typeOfUsedCarPosting">Вид объявления </label>
                <select id="typeOfUsedCarPosting" name="typeOfUsedCarPosting"
                        th:field="*{typeOfUsedCarPosting}">
                    <option selected="selected" value="">---</option>
                    <option th:each="typeOfUsedCarPosting : ${typeOfUsedCarPostingSet}"
                            th:value="${typeOfUsedCarPosting}"
                            th:utext="${typeOfUsedCarPosting}"></option>
                </select>
            </div>

            <div id="contacts" class="main-container">
                <div class="category-head-container">
                    <div class="category-head-text">Внешний вид</div>
                </div>

                <div>
                    <h4 class="category-text">Фотографии</h4>

                </div>
                <div>
                    <div class="form-group col-md-6">
                    </div>
                    <div class="form-group col-md-6">
                        <h4 class="category-text">Цвет</h4>
                        <label for="car_color"></label>
                        <select id="car_color" name="car_color" th:field="*{carColor}">
                            <option selected="selected" value="">--</option>
                            <option th:each="colorName : ${autoColorsRusNames}" th:value="${colorName}"
                                    th:utext="${colorName}"></option>
                        </select>
                    </div>
                </div>

                <h4 class="category-text">Видео с YouTube</h4>

                <div>
                </div>


                <br><br>
                <div>
                    <div>
                        <h4 class="category-head-text">Регистрационные данные</h4>
                        <p>Технические характеристики автоматически определятся по VIN — мы покажем в
                            объявлении лишь часть цифр.
                            Госномер пользователи не увидят.</p>
                    </div>
                    <div>
                        <div>VIN или номер кузова</div>
                        <input type="text"/>
                    </div>
                    <div>
                        <div>Государственный номер</div>
                        <input type="text"/>
                    </div>
                </div>


                <div>
                    <div>
                        <h4>Технические характеристики</h4>
                    </div>
                    <div class="form-group col-md-8">
                        <label class="col-form-label"><h5>Марка</h5></label>
                        <label for="car_brand_"></label>
                        <select id="car_brand_" name="car_brand_" th:field="*{carBrand}">
                            <option selected="selected" value="">--</option>
                            <option th:each="brand : ${brandsSet}" th:value="${brand}"
                                    th:utext="${brand}"></option>
                        </select>
                    </div>
                    <div>
                        <h5>Модель</h5>
                    </div>
                    <div>
                        <h5>Год выпуска</h5>
                        <div>
                            <select th:field="${carPostObject.carYear}">
                                <option th:each="i : ${#numbers.sequence(1999, 2020)}" th:value="${i}"
                                        th:text="${i}"
                                        th:selected="${i==2018}"></option>
                            </select>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
                <br><br>
                <div>
                    <div>
                        <h5>История эксплуатации и состояние</h5>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <h5>Введите пробег авто </h5>
                            </div>
                            <div class="col-sm-6">
                                <label for="mileage">
                                    <input id="mileage" type="text" th:field="${carPostObject.mileage}"/>
                                    <span>km</span>
                                </label>
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <h5>Состояние </h5>
                            </div>
                            <div class="col-sm-6">
                                <div class="btn-group mr-2" role="group" aria-label="Second group">
                                    <button type="button" class="btn btn-outline-secondary">Битый</button>
                                    <button type="button" class="btn btn-outline-secondary">Не битый</button>
                                </div>
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <h5>Владельцев по ПТС </h5>
                            </div>
                            <div class="col-sm-6">

                                <div class="btn-group mr-2" role="group" aria-label="First group"
                                     th:field="*{numberOfOwners}">
                                    <button type="button" class="btn btn-outline-secondary">1</button>
                                    <button type="button" class="btn btn-outline-secondary">2</button>
                                    <button type="button" class="btn btn-outline-secondary">3</button>
                                    <button type="button" class="btn btn-outline-secondary">4+</button>
                                </div>
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <h5>Данные о ТО </h5>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="hasServiceBook"
                                               th:checked="*{hasServiceBook}"
                                               th:field="${carPostObject.hasServiceBook}">
                                        <label class="custom-control-label" for="hasServiceBook">Есть Сервисная
                                            книжка</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="dealerServiced"
                                               th:checked="*{dealerServiced}"
                                               th:field="${carPostObject.dealerServiced}">
                                        <label class="custom-control-label" for="dealerServiced">Обслуживался у
                                            дилера</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="warrantyValid"
                                               th:checked="*{underWarranty}"
                                               th:field="${carPostObject.underWarranty}">
                                        <label class="custom-control-label" for="warrantyValid">На гарантии</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                    </div>

                </div>
                <br><br>
                <div>
                    <div>
                        <h4>Дополнительные опции</h4>
                        <div class="container no-gutters border" style="padding: 0">
                            <div class="row no-gutters">
                                <div class="col-4 no-gutters">
                                    <div>
                                        <div>
                                            <label class="category-head-text" for="typeOfUsedCarPosting">Усилитель
                                                руля</label>
                                            <select id="powerSteeringType" name="powerSteeringType"
                                                    th:field="*{powerSteeringType}">
                                                <option selected="selected" value="">---</option>
                                                <option th:each="ps_type : ${powerSteeringTypes}"
                                                        th:value="${ps_type}"
                                                        th:utext="${ps_type}"></option>
                                            </select>
                                        </div>
                                        <div>
                                            <label for="typeOfUsedCarPosting">Управление климатом</label>
                                            <select id="climateControlType" name="climateControlType"
                                                    th:field="*{climateControlType}">
                                                <option selected="selected" value="">---</option>
                                                <option th:each="cc_type : ${climateControlTypes}"
                                                        th:value="${cc_type}"
                                                        th:utext="${cc_type}"></option>
                                            </select>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="onWheelControl"
                                                   th:field="${carPostObject.onWheelControl}">
                                            <label class="custom-control-label" for="onWheelControl">Управление на
                                                руле</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="thermalGlass"
                                                   th:field="${carPostObject.thermalGlass}">
                                            <label class="custom-control-label" for="thermalGlass">Атермальное
                                                остекление</label>
                                        </div>

                                        <div>
                                            <label for="typeOfUsedCarPosting">Салон</label>
                                            <select id="interiorType" name="interiorType"
                                                    th:field="*{interiorType}">
                                                <option selected="selected" value="">---</option>
                                                <option th:each="int_type : ${interiorTypes}"
                                                        th:value="${int_type}"
                                                        th:utext="${int_type}"></option>
                                            </select>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="leatherWheel"
                                                   th:field="${carPostObject.leatherWheel}">
                                            <label class="custom-control-label" for="leatherWheel">Кожаный
                                                руль</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="sunroof"
                                                   th:field="${carPostObject.sunroof}">
                                            <label class="custom-control-label" for="sunroof">Люк</label>
                                        </div>
                                        <br>
                                        <h6>Обогрев</h6>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="heatedFrontSeats"
                                                   th:field="${carPostObject.heatedFrontSeats}">
                                            <label class="custom-control-label" for="heatedFrontSeats">Передних
                                                сидений</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="heatedRearSeats"
                                                   th:field="${carPostObject.heatedRearSeats}">
                                            <label class="custom-control-label" for="heatedRearSeats">Задних
                                                сидений</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="heatedMirrors"
                                                   th:field="${carPostObject.heatedMirrors}">
                                            <label class="custom-control-label" for="heatedMirrors">Зеркал</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="heatedRearWindow"
                                                   th:field="${carPostObject.heatedRearWindow}">
                                            <label class="custom-control-label" for="heatedRearWindow">Заднего
                                                стекла</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="heatedWheel"
                                                   th:field="${carPostObject.heatedWheel}">
                                            <label class="custom-control-label" for="heatedWheel">Руля</label>
                                        </div>
                                        <div>
                                            <label for="typeOfUsedCarPosting">Электростеклоподъемники</label>
                                            <select id="powerWindowsType" name="powerWindowsType"
                                                    th:field="*{powerWindowsType}">
                                                <option selected="selected" value="">---</option>
                                                <option th:each="pw_type : ${powerWindowTypes}"
                                                        th:value="${pw_type}"
                                                        th:utext="${pw_type}"></option>
                                            </select>
                                        </div>
                                        <br>
                                        <h6>Электропривод</h6>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="powerFrontSeats"
                                                   th:field="${carPostObject.powerFrontSeats}">
                                            <label class="custom-control-label" for="powerFrontSeats">Передних
                                                сидений</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="powerRearSeats"
                                                   th:field="${carPostObject.powerRearSeats}">
                                            <label class="custom-control-label" for="powerRearSeats">Задних
                                                сидений</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="powerMirrorRegulation"
                                                   th:field="${carPostObject.powerMirrorRegulation}">
                                            <label class="custom-control-label"
                                                   for="powerMirrorRegulation">Зеркал</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="powerSteeringWheelRegulation"
                                                   th:field="${carPostObject.powerSteeringWheelRegulation}">
                                            <label class="custom-control-label" for="powerSteeringWheelRegulation">Рулевой
                                                колонки</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="powerMirrorClose"
                                                   th:field="${carPostObject.powerMirrorClose}">
                                            <label class="custom-control-label" for="powerMirrorClose">Складывания
                                                зеркал</label>
                                        </div>
                                        <br><br>
                                        <h6>Память настроек</h6>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="frontSeatsMemory"
                                                   th:field="${carPostObject.frontSeatsMemory}">
                                            <label class="custom-control-label" for="frontSeatsMemory">Передних
                                                сидений</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="rearSeatsMemory"
                                                   th:field="${carPostObject.rearSeatsMemory}">
                                            <label class="custom-control-label" for="rearSeatsMemory">Задних
                                                сидений</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="mirrorRegulationMemory"
                                                   th:field="${carPostObject.mirrorRegulationMemory}">
                                            <label class="custom-control-label"
                                                   for="mirrorRegulationMemory">Зеркал</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="steeringWheelRegulationMemory"
                                                   th:field="${carPostObject.steeringWheelRegulationMemory}">
                                            <label class="custom-control-label" for="steeringWheelRegulationMemory">Рулевой
                                                колонки</label>
                                        </div>
                                    </div>
                                </div>
                                <!--                                            ======= 2/3 ================-->
                                <div class="col-4 no-gutters">
                                    <div>
                                        <h5>Помощь при вождении</h5>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="parkingAssist"
                                                   th:field="${carPostObject.parkingAssist}">
                                            <label class="custom-control-label" for="parkingAssist">Автоматический
                                                парковщик</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="rainSensor"
                                                   th:field="${carPostObject.rainSensor}">
                                            <label class="custom-control-label" for="rainSensor">Датчик
                                                дождя</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="lightSensor"
                                                   th:field="${carPostObject.lightSensor}">
                                            <label class="custom-control-label" for="lightSensor">Датчик
                                                света</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="rearParkingSensor"
                                                   th:field="${carPostObject.rearParkingSensor}">
                                            <label class="custom-control-label" for="rearParkingSensor">Парктроник
                                                задний</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="frontParkingSensor"
                                                   th:field="${carPostObject.frontParkingSensor}">
                                            <label class="custom-control-label" for="frontParkingSensor">Парктроник
                                                передний</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="blindSpotZoneControl"
                                                   th:field="${carPostObject.blindSpotZoneControl}">
                                            <label class="custom-control-label" for="blindSpotZoneControl">Система
                                                контроля слепых зон</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="rearCamera"
                                                   th:field="${carPostObject.rearCamera}">
                                            <label class="custom-control-label" for="rearCamera">Камера заднего
                                                вида</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cruiseControl"
                                                   th:field="${carPostObject.cruiseControl}">
                                            <label class="custom-control-label"
                                                   for="cruiseControl">Круиз-контроль</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="onBoardComp"
                                                   th:field="${carPostObject.onBoardComp}">
                                            <label class="custom-control-label" for="onBoardComp">Бортовой
                                                компьютер</label>
                                        </div>
                                        <br>
                                        <h6>Противоугонная система</h6>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="alarmSystem"
                                                   th:field="${carPostObject.alarmSystem}">
                                            <label class="custom-control-label"
                                                   for="alarmSystem">Сигнализация</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="powerDoorBlocking"
                                                   th:field="${carPostObject.powerDoorBlocking}">
                                            <label class="custom-control-label" for="powerDoorBlocking">Центральный
                                                замок</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="immobilizer"
                                                   th:field="${carPostObject.immobilizer}">
                                            <label class="custom-control-label"
                                                   for="immobilizer">Иммобилайзер</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="satelliteAlarmControl"
                                                   th:field="${carPostObject.satelliteAlarmControl}">
                                            <label class="custom-control-label"
                                                   for="satelliteAlarmControl">Спутник</label>
                                        </div>
                                        <br>
                                        <h6>Подушки безопасности</h6>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="frontalAirbags"
                                                   th:field="${carPostObject.frontalAirbags}">
                                            <label class="custom-control-label"
                                                   for="frontalAirbags">Фронтальные</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="kneeAirbags"
                                                   th:field="${carPostObject.kneeAirbags}">
                                            <label class="custom-control-label" for="kneeAirbags">Коленные</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="sideWindowAirbags"
                                                   th:field="${carPostObject.sideWindowAirbags}">
                                            <label class="custom-control-label"
                                                   for="sideWindowAirbags">Шторки</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="frontSideAirbags"
                                                   th:field="${carPostObject.frontSideAirbags}">
                                            <label class="custom-control-label" for="frontSideAirbags">Боковые
                                                передние</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="rearSideAirbags"
                                                   th:field="${carPostObject.rearSideAirbags}">
                                            <label class="custom-control-label" for="rearSideAirbags">Боковые
                                                задние</label>
                                        </div>
                                        <br><br>
                                        <h6>Активная безопасность</h6>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="absSystem"
                                                   th:field="${carPostObject.absSystem}">
                                            <label class="custom-control-label" for="absSystem">Антиблокировка
                                                тормозов</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="dtcSystem"
                                                   th:field="${carPostObject.dtcSystem}">
                                            <label class="custom-control-label"
                                                   for="dtcSystem">Антипробуксовка</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="trackingControl"
                                                   th:field="${carPostObject.trackingControl}">
                                            <label class="custom-control-label" for="trackingControl">Курсовая
                                                устойчивость</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="breakAssistSystem"
                                                   th:field="${carPostObject.breakAssistSystem}">
                                            <label class="custom-control-label" for="breakAssistSystem">Распред.
                                                тормозных усилий</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="emergencyBreakSystem"
                                                   th:field="${carPostObject.emergencyBreakSystem}">
                                            <label class="custom-control-label" for="emergencyBreakSystem">Экстренное
                                                торможение</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="diffLockSystem"
                                                   th:field="${carPostObject.diffLockSystem}">
                                            <label class="custom-control-label" for="diffLockSystem">Блок.
                                                дифференциала</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="pedestrianDetectSystem"
                                                   th:field="${carPostObject.pedestrianDetectSystem}">
                                            <label class="custom-control-label" for="pedestrianDetectSystem">Обнаружение
                                                пешеходов</label>
                                        </div>
                                    </div>
                                </div>
                                <!--                                            ==== 3/3-->
                                <div class="col-4 no-gutters">
                                    <div>
                                        <h5>Мультимедия и навигация</h5>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cdDvdBluRay"
                                                   th:field="${carPostObject.cdDvdBluRay}">
                                            <label class="custom-control-label"
                                                   for="cdDvdBluRay">CD/DVD/Blu-ray</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="mp3"
                                                   th:field="${carPostObject.mp3}">
                                            <label class="custom-control-label" for="mp3">МР3</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="radio"
                                                   th:field="${carPostObject.radio}">
                                            <label class="custom-control-label" for="radio">Радио</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="tvSystem"
                                                   th:field="${carPostObject.tvSystem}">
                                            <label class="custom-control-label" for="tvSystem">ТВ</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="videoSystem"
                                                   th:field="${carPostObject.videoSystem}">
                                            <label class="custom-control-label" for="videoSystem">Видео</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="mediaOnWheelControl"
                                                   th:field="${carPostObject.mediaOnWheelControl}">
                                            <label class="custom-control-label" for="mediaOnWheelControl">Управление
                                                на руле</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="usb"
                                                   th:field="${carPostObject.usb}">
                                            <label class="custom-control-label" for="usb">USB</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="aux"
                                                   th:field="${carPostObject.aux}">
                                            <label class="custom-control-label" for="aux">AUX</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="bluetooth"
                                                   th:field="${carPostObject.bluetooth}">
                                            <label class="custom-control-label" for="bluetooth">Bluetooth</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="gpsNavigation"
                                                   th:field="${carPostObject.gpsNavigation}">
                                            <label class="custom-control-label"
                                                   for="gpsNavigation">GPS-навигатор</label>
                                        </div>
                                        <div>
                                            <label for="typeOfUsedCarPosting">Аудиосистема</label>
                                            <select id="audioSystemType" name="audioSystemType"
                                                    th:field="*{audioSystemType}">
                                                <option selected="selected" value="">---</option>
                                                <option th:each="as_type : ${audioSystemTypes}"
                                                        th:value="${as_type}"
                                                        th:utext="${as_type}"></option>
                                            </select>
                                        </div>
                                        <br>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="subwoofer"
                                                   th:field="${carPostObject.subwoofer}">
                                            <label class="custom-control-label" for="subwoofer">Сабвуфер</label>
                                        </div>
                                        <div>
                                            <label for="typeOfUsedCarPosting">Фары</label>
                                            <select id="frontLightType" name="frontLightType"
                                                    th:field="*{frontLightType}">
                                                <option selected="selected" value="">---</option>
                                                <option th:each="fl_type : ${frontLightTypes}"
                                                        th:value="${fl_type}"
                                                        th:utext="${fl_type}"></option>
                                            </select>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="antifogLights"
                                                   th:field="${carPostObject.antifogLights}">
                                            <label class="custom-control-label"
                                                   for="antifogLights">Противотуманные</label>
                                        </div>
                                        <br>
                                        <h5>Подушки безопасности</h5>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="frontLightCleaning"
                                                   th:field="${carPostObject.frontLightCleaning}">
                                            <label class="custom-control-label" for="frontLightCleaning">Омыватели
                                                фар</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="adaptiveLights"
                                                   th:field="${carPostObject.adaptiveLights}">
                                            <label class="custom-control-label" for="adaptiveLights">Адаптивное
                                                освещение</label>
                                        </div>
                                        <div>
                                            <label for="typeOfUsedCarPosting">Шины и диски</label>

                                            <select id="tyreSize" name="tyreSize" th:field="*{tyreSize}">
                                                <option th:each="i : ${#numbers.sequence(7, 30)}" th:value="${i}"
                                                        th:text="${i+' s'}"
                                                        th:selected="${i==15}"></option>
                                            </select>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="winterTyreSetIncluded"
                                                   th:field="${carPostObject.winterTyreSetIncluded}">
                                            <label class="custom-control-label" for="winterTyreSetIncluded">Зимние
                                                шины в комплекте</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div>
                            <h3>Описание</h3>
                        </div>
                        <div>
                                        <textarea name="ta" id="ta" cols="60" rows="10">

                                        </textarea>
                        </div>
                    </div>
                </div>

            </div>
            <!--            </form>-->
        </div>
    </div>
</div> //======